body {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Comfortaa";
}

label {
  font-size: 1.25em;
}

#login {
  border: solid lightgray 1px;
  padding: 1rem;
}

#login form {
  width: 27.5rem;
}

button i {
  margin-right: .5rem;
}