main {
  width: 100%;
  height: calc(100vh - 4.5vh - 2.5em);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* center the dotted line inside of it's parent div */

#dotted-line {
  height: 100%;
  display: flex;
  align-items: center;
}

#dotted-line div {
  height: 95%;
  border-left: .15em dashed #ccc;
}

document-title {
  color: tomato;
  cursor: pointer;
}

document-title:hover {
  text-decoration: underline;
}

#markdown-reference-link {
  text-decoration: none;
  cursor: pointer;
}

#markdown-reference-link:hover {
  text-decoration: underline;
  color: #0d6efd;
}

#download-document-as-html-btn:hover {
  cursor: pointer;
  text-decoration: underline;
}

.form-group {
  width: 48vw;
  height: 96.5%;
}

.form-group > textarea {
  resize: none;
  height: calc(100% - 5vh);
  overflow-y: scroll;
}

/* since #document isn't a textarea, the above style can't apply to it */
#document {
  height: calc(100% - 5vh);
  overflow-y: scroll;
}

#header {
  display: flex;
  justify-content: center;
  background: #477bff;
  padding: 1vh;
  height: 2.5em;
  align-items: center;
}

.document-button {
  border: none;
  background: white;
  font-family: 'Merriweather', serif;
  height: 1.5em;
  text-align: center;
  font-size: 1em;
  margin: 1px;
  background: #477bff;
}

.document-button:hover {
  background: #477bff;
  color: white;
}

.document-button:active {
  background: #477bff;
  color: black;
}

#loading-spinner {
  float: right;
  margin-bottom: .25em;
}

/* move checkboxes closer together */
.nmd-checkbox {
  margin-bottom: -1em!important;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tr:nth-child(even) td:not(td:last-child) {
  border-right: 1px solid whitesmoke;
}

.table-right-align {
  text-align: right;
}

.document-content-label {
  width: 100%;
  text-align: right;
} 
